@import "variables";

button {
  &.danger {
    color: @danger-color;
    background-color: @danger-background;
    border-color: @danger-border;
    &:hover {
      background-color: darken(@danger-background, 10%);
    }
  }
}
