@import "../node_modules/bootstrap/less";
@import "../node_modules/font-awesome/less/font-awesome";
@import (inline) "../node_modules/sweetalert/dist/sweetalert.css";
@import "buttons";
@import "icons";
@import "state";
@import "navbar";
@import "build";
@import "overview";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body, html {
  font-family: 'Montserrat', sans-serif !important;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

div.container {
  background-color: @container-background;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  div.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    div.content-container {
      flex-grow: 20;
    }
  }
}


.build-overview {
  display: flex;
  .list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .list-row {
      cursor: pointer;
    }
  }

  .info {
    flex-grow: 6;
  }
}

button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
  &:hover {
    color: @secondary-color;
    border-color: @border-color;
  }
}

dl.horizontal {
  dt {
    float: left;
  }
  dd {
    margin-left: 150px;
  }
}

.sweet-alert {
  button {
    line-height: 20px !important;
  }
}
